* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;

  --bg-collor: hsla(0, 0%, 0%, 1);
  --h1-header: hsla(0, 0%, 100%, 1);
  --pc-header: hsla(191, 65%, 7%, 1);
  --bc-header: hsla(195, 91%, 25%, 1);
  --ptc-header: hsla(240, 6%, 51%, 1);

  --tc-border: hsla(191, 31%, 42%, 1);
  --tc-body: hsla(192, 63%, 3%, 1);
  --tc-header: hsla(194, 72%, 13%, 1);
  --tbc-body: hsla(355, 91%, 66%, 1);
  --tc-text: hsla(240, 9%, 89%, 1);
  --tc-odd-row: hsla(192, 65%, 7%, 1);

  --star-color: hsla(189, 4%, 32%, 1);

}

body {
  background-color: var(--bg-collor);
  font-size: 1.6rem;
  font-family: var(--ff-primary);

  color: var(--h1-header);
}

#app {
max-width: 112rem;
margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.left-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.right-wrapper {
  display: flex;
  gap: 0.8rem;
}

.right-wrapper input {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;

  background-color: var(--pc-header);
  color: var(--ptc-header);

  width: 32rem;
  padding: 1.6rem;
  border: none;
  border-radius: 0.5rem;
}
.right-wrapper button {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;  

  display: flex;
  gap: 0.8rem;

  background-color: var(--bc-header);
  color: var(--h1-header);

  padding: 1.2rem 3.2rem;
  
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  transition: .2s;
}

.right-wrapper button:hover {
  filter: brightness(1.2);
}

.right-wrapper button span {
  font-size: 2.2rem;
}

.table-container-all {
  border-radius: 1.2rem;
  border: 1px solid var(--tc-border);
  overflow: hidden; 
}

.head-table {
  background-color: var(--tc-header);
  text-align: left;
  display: flex;
}
.head-table p {
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 160%;
}
.head-table p:nth-child(1){
  padding: 1.6rem 35.5rem 1.6rem 4rem;
}
.head-table p:nth-child(2){
  padding: 1.6rem 5.4rem 1.6rem 4rem;
}
.head-table p:nth-child(3){
  padding: 1.6rem 11rem 1.6rem 4rem;
}
.head-table p:nth-child(4){
  padding: 1.6rem 9.2rem 1.6rem 4rem;
}

.table-wrapper {
  max-height: 57rem;
  overflow-y: overlay;
}

.table-wrapper::-webkit-scrollbar {
  width: 2rem;    
}

.table-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 1rem 1rem var(--tc-border);
  border: solid .7rem transparent;
  border-radius: 2rem;
}

table {
  width: 100%;  
  border-collapse: collapse;
  background-color: var(--tc-body);
  color: var(--tc-text);
}

tbody tr:nth-child(even) {
  background-color: var(--tc-odd-row);
}

table .user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

table th, td {
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 160%;
}
table td:nth-child(1) {
  padding: 1.6rem 8rem 1.6rem 4rem;
}
table td:nth-child(2) {
  padding: 1.6rem 10.9rem 1.6rem 4rem;
}
table td:nth-child(3) {
  padding: 1.6rem 10.9rem 1.6rem 4rem;
}
table td:nth-child(4) {
  padding: 1.6rem 5.3rem 1.6rem 4rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user a {
  color: var(--tc-text);
  text-decoration: none;
}

td.user span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;  
}


td button.remove {
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 160%;

  background: none;
  border: none;
  color: var(--tbc-body);

  cursor: pointer;
}


.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  height: 62.4rem;
  background-color: var(--tc-body);
  padding-bottom: 9rem;
}

.empty-list h2 {
  letter-spacing: .2rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.5rem; 
  color: var(--star-color);
}

.hide {
  display: none;
}
