* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-color: hsl(201, 41%, 82%);
  --header-color: hsl(218, 23%, 21%);
  --form-color1: hsl(6, 89%, 69%);
  --form-color2: hsl(0, 0%, 100%);
  --text-color: hsl(258, 9%, 32%);
  --input-color: hsl(240, 33%, 99%);
  --input-border-color: hsl(240, 24%, 92%);
  --color-legend: hsl(210, 37%, 23%);
  --color-border:1px solid hsl(240, 25%, 92%);
  --color-span: hsl(258, 14%, 77%);



  --font-titles: 'Staatliches', cursive;
  --font-text: 'Poppins', sans-serif;
}

h1, h2, legend, button {
  font-family: var(--font-titles);
}

.page{
  background: var(--page-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-text);
  color: var(--text-color);
}

header {
  background: var(--header-color);
  height: 465px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--input-color) ;
}

header h1 {
  margin-top: 107px;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;  
}

header .rectangle {
  padding: 50px 0px;
}

header h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;  
}

header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;  
}

header img {
  margin-top: 24px;
}

header .rectangle {
  background: var(--form-color1);
  width: 750px;
  height: 133px;
  text-align: center;

  margin-top: 32px;
  border-radius: 20px 20px 0px 0px;
}

form {
  background: var(--form-color2);
  width: 750px;

  padding: 30px 64px 74px;
  margin-bottom: 380px;
  border-radius: 0px 0px 20px 20px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-legend);  
}

span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-span);
}

input, select, textarea {
  padding: 15px;
  color: var(--text-color);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.wrapper-date input {
  padding: 15px 70px 15px 80px;
}
.wrapper-start input,
.wrapper-end input {
  padding: 15px 25px 15px 45px;
}  


.wrapper-label {
  display:flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid hsl(240, 25%, 92%);
}

.wrapper, .wrapper-nextEncounter {
  display: flex;
  gap: 22px;
}

.wrapper {
  margin-bottom: 16px;
}

.wrapper-email,
.wrapper-mentorName, .wrapper-feedback,
.wrapper-checked {
  margin-bottom: 32px;
}

.wrapper-name, .wrapper-lastName,
.wrapper-email, .wrapper-feedback,
.wrapper-mentorName, .wrapper-date,
.wrapper-start, .wrapper-end {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper-time{
  display: flex;
  gap: 10px;
}

.wrapper-start input, .wrapper-end input {
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 145px;
  height: 56px;  
}

.wrapper-name input, .wrapper-lastName input, 
.wrapper-date input, .wrapper-mentorName select {
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 300px;
  height: 56px;
}

.wrapper-email input {
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 622px;
  height: 56px;
}

.wrapper-mentorName select {
  appearance: none;
  -webkit-appearance: none;
}

.wrapper-feedback textarea {
  width: 622px;
  height: 166px;
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
}

.wrapper-checked {
  position: relative;
}

.wrapper-checked label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapper-checked label::before{
  display: inline-block;
  content: "";
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

/*QUANDO O .wrapper-checked input ESTIVER EM FOCU (:focus)
  ELE PEGA O label::before (elemento q criamos aqui no CSS)
  E APLICA ELE A TAG outline */
.wrapper-checked input:focus + label::before {
  outline: 2px solid black;
}

/*QUANDO O INPUT ESTIVER MARCADO (checked) O ELEMENTO
  label::before VAI RECEBER UMA IMAGEM COMO BACKGROUND
  A IMAGEM EM QUESTÃO É UM "vezinho" DE checked QUE FOI
  TRASFORMADA DE SVG PARA base64*/
.wrapper-checked input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1102_20)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%23F6786A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1102_20'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.wrapper-checked input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

form button {
  margin-top: 64px;
  width: 622px;
  height: 51px;
  background: var(--form-color1);

  font-weight: 400;
  font-size: 20px;
  line-height: 26px; 
  color: var(--input-color);

  border: none;
  border-radius: 8px;
  transition: 200ms;
}

span:hover {
  color: hsl(258, 2%, 46%);
}

form button:hover {
  background: hsl(6, 55%, 56%);
  cursor: pointer;
}

input:invalid {
  outline: 1px solid red;
}
