* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-title: 'Staatliches', cursive;
  --font-text: 'Palanquin', sans-serif;

  --black: hsl(0, 0%, 0%);
  --dark-purple: hsl(274, 84%, 12%);
  --dark-blue: hsl(232, 17%, 35%);
  --rock-blue: hsl(218, 17%, 62%);
  --chatelle: hsl(275, 18%, 79%);
  --dolomite-crystal: hsl(312, 91%, 96%);
  --ghost-white: hsl(233, 100%, 97%);
  --white: hsl(100, 100%, 100%);

  font-size: 62.5%;
}
.page {
  min-width: 38.4rem;
}

main {
  /*width: 32.0rem;*/
  margin: 1.4rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main .cards-wrapper {
  display: grid;
  gap: 3.6rem;
}



@media (min-width: 930px) {
  main .cards-wrapper {
    grid-template-areas: 
    "A B"
    "D C"
  }

  main .cards-wrapper div:nth-child(1) {
    grid-area: A;
  }
  main .cards-wrapper div:nth-child(2) {
    grid-area: B;
  }
  main .cards-wrapper div:nth-child(3) {
    grid-area: C;
  }
  main .cards-wrapper div:nth-child(4) {
    grid-area: D;
  }

}




main .cards-wrapper .card {
  position: relative;
}


main .cards-wrapper .card img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.card:nth-child(1) img {
  height: 25rem;
  animation: downtop-img 700ms 350ms backwards;
}
.card:nth-child(2) img {
  height: 45rem;
  animation: downtop-img 700ms 650ms backwards;
}
.card:nth-child(3) img {
  height: 25rem;
  animation: downtop-img 700ms 950ms backwards;
}
.card:nth-child(4) img {
  height: 45rem;
  animation: downtop-img 700ms 1250ms backwards;
}

.card:nth-child(1) h2 {
  animation: topdown-text 700ms 650ms backwards;  
}
.card:nth-child(2) h2 {
  animation: topdown-text 700ms 950ms backwards;  
}
.card:nth-child(3) h2 {
  animation: topdown-text 700ms 1250ms backwards;  
}
.card:nth-child(4) h2 {
  animation: topdown-text 700ms 1550ms backwards;  
}


h1, h2 {
  font-family: var(--font-title);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
}

header img {
  margin: 3.2rem auto 3.2rem;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  padding: 8px 0;

  width: 100%;
  text-align: center;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);;
}

h2 {
  color: var(--dark-blue);
  font-size: 2rem;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  display: flex;
  align-items: center;
  width: 11.2rem;
  height: 3.5rem;

  padding: 0 2.4rem;
  background-color: var(--dolomite-crystal);
  border-radius: 2rem;
}

p {
  font-weight: 400;
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 16px;

  color: var(--dark-purple);


  margin-bottom: 6rem;
}

body {
  background-color: var(--ghost-white);
}

header {
  background-color: var(--rock-blue);
  padding-bottom: 2.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;

}

header h1 {
  background-color: var(--chatelle);
}

@keyframes downtop-img {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes topdown-text {
  0%{
    transform: translateY(-15px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 70rem) {
  .page {
    display: flex;
    flex-direction: row;
  }


}