* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*Light Mode*/
  --bg-and-card-icon-selected-color: #FFFFFF;
  --timer-and-card-icon-unselected-color: hsla(240, 6%, 21%, 1);
  --bg-card-unselected: hsla(240, 9%, 89%, 1);
  --bg-card-selected: hsla(194, 97%, 31%, 1);

  /*Dark Mode*/
  --dark-mode-background: hsla(240, 5%, 7%, 1);
  --dark-mode-controls-icons: hsla(240, 7%, 78%, 1);
  --dark-mode-card-unselected: hsla(240, 6%, 17%, 1);
  --dark-mode-car-selected :hsla(195, 74%, 15%, 1);
}


body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: 1fr 2fr;
}

main {
  justify-self: center;
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 82rem;
}

button {
  background-color: var(--bg-card-unselected);
}

.timer-wrapper {
  display: grid;
}

.timer {
  align-self: center;
  display: flex;
  font-size: 12.6rem;
  line-height: 14.8rem;
  color: var(--timer-and-card-icon-unselected-color);  
}

.controls {
  align-self: start;
  display: flex;
  gap: 4rem;
}

.controls svg,
.mode svg {
  cursor: pointer;
}

.controls button {
  background-color: transparent;
  border: 0;
}

.sounds-wrapper {
  width: 30.8rem;
  height: 33.6rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3.2rem;
}

.column {
  display: flex;
  justify-content: space-between;
}

.column button {
  border: 0;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  height: 15.2rem;
  width: 13.8rem;
  cursor: pointer;
}

.selected {
  background-color: var(--bg-card-selected);
}
.selected svg path{
  fill: var(--bg-and-card-icon-selected-color);
}

.hide {
  display: none;
}

.mode {
  background-color: transparent;
  border: 0;
  padding: 6rem 6rem;
  align-self: start;
  justify-self: end;
}

.cards-dark-mode {
  background-color: var(--dark-mode-card-unselected);
}
.cards-dark-mode.selected {
  background-color: var(--dark-mode-car-selected);
}

#volume-control-card1,
#volume-control-card2,
#volume-control-card3,
#volume-control-card4 {
  width: 9rem;

}