* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-title: 'Staatliches', cursive;
  --font-text: 'Palanquin', sans-serif;
  --font-footer: 'Open Sans', sans-serif;

  --black: hsl(0, 0%, 0%);
  --dark-purple: hsl(274, 84%, 12%);
  --dark-blue: hsl(232, 17%, 35%);
  --rock-blue: hsl(218, 17%, 62%);
  --chatelle: hsl(275, 18%, 79%);
  --dolomite-crystal: hsl(312, 91%, 96%);
  --ghost-white: hsl(233, 100%, 97%);
  --white: hsl(100, 100%, 100%);

  font-size: 62.5%;
}

.page {
  min-width: 38.4rem;
}

header {
  /*background-color: var(--rock-blue);
  padding-bottom: 2.9rem;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header .box {
  background-color: var(--rock-blue);
  width: 100%;
  height: 28rem;
  top: 0;  
}

header img {
  width: 100%;
  height: 13.7rem;
  margin: 3.4rem auto 2.8rem;
  position: absolute;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  padding: 8px 0 6px;
  margin: 20rem 0 0;
  width: 100%;
  text-align: center;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  position: absolute;
}

header p {
  font-weight: 400;
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-purple);

  text-align: center;
  max-width: 32rem;
  height: auto;

  width: 100%;
  margin: 30rem auto 6rem;

  position: absolute;
}


main {
  width: 32.0rem;
  margin: 15.2rem auto 6rem;
  /*display: flex;
  flex-direction: column;
  text-align: center;*/
}

main .cards-wrapper .col1 .card:nth-child(2)  {
  opacity: 0;
  position: absolute;
}

main .cards-wrapper .col3 .card:nth-child(1)  {
  opacity: 0;
  position: absolute;
}

main footer {
  opacity: 0;
  /*position: absolute;*/
}

main .cards-wrapper {
  display: grid;
  gap: 3.2rem;
}

main .cards-wrapper .card {
  position: relative;
}


main .cards-wrapper .card img {
  width: 32rem;
  object-fit: cover;
  border-radius: 2rem;
}

main .cards-wrapper .col1 .card:nth-child(1) img {
  height: 25rem;
  animation: downtop-img 700ms 350ms backwards;
}
main .cards-wrapper .col2 .card:nth-child(1) img {
  height: 45rem;
  animation: downtop-img 700ms 650ms backwards;
}
main .cards-wrapper .col2 .card:nth-child(2) img {
  height: 25rem;
  animation: downtop-img 700ms 950ms backwards;
}
main .cards-wrapper .col3 .card:nth-child(2) img {
  height: 45rem;
  animation: downtop-img 700ms 1250ms backwards;
}

.card:nth-child(1) h2 {
  animation: topdown-text 700ms 650ms backwards;  
}
.card:nth-child(2) h2 {
  animation: topdown-text 700ms 950ms backwards;  
}
.card:nth-child(3) h2 {
  animation: topdown-text 700ms 1250ms backwards;  
}
.card:nth-child(4) h2 {
  animation: topdown-text 700ms 1550ms backwards;  
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.col2 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.col3 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}


h1, h2 {
  font-family: var(--font-title);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
}


h2 {
  color: var(--dark-blue);
  font-size: 2rem;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  display: flex;
  align-items: center;
  width: 11.2rem;
  height: 3.5rem;

  padding: 0 2.4rem;
  background-color: var(--dolomite-crystal);
  border-radius: 2rem;
}

body {
  background-color: var(--ghost-white);
}

header h1 {
  background-color: var(--chatelle);
}

@keyframes downtop-img {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes topdown-text {
  0%{
    transform: translateY(-15px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 930px) {

  main .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .page {
    display: flex;
  }

  header {
    min-width: 37rem;
  }

  header .box {
    height: 100vh;
  }

  header p {
    color: var(--white);  

    width: 28rem;
    margin: 30rem auto;
  }

  main {
    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .cards-wrapper {
    margin: 9rem auto 5rem;
    max-width: 72.4rem;
    grid-template-areas: "A B C";
    place-items: center;
  }

  main .cards-wrapper div:nth-child(1) {
    grid-area: A;
  }

  main .cards-wrapper div:nth-child(2) {
    grid-area: B;
  }

  main .cards-wrapper div:nth-child(3) {
    grid-area: C;
  }

  main .cards-wrapper div:nth-child(4) {
    grid-area: D;
  }

  main .cards-wrapper div:nth-child(5) {
    grid-area: E;
  }

  main .cards-wrapper div:nth-child(6) {
    grid-area: F;
  }

  main .cards-wrapper .col1 .card:nth-child(1) img,
  main .cards-wrapper .col3 .card:nth-child(1) img {
    width: 22rem;
    height: 15rem;
  }
  main .cards-wrapper .col1 .card:nth-child(2) img,
  main .cards-wrapper .col3 .card:nth-child(2) img {
    width: 22rem;
    height: 35rem;
  }
  main .cards-wrapper .col2 .card:nth-child(1) img {
    width: 22rem;
    height: 35rem;
  }
  main .cards-wrapper .col2 .card:nth-child(2) img {
    width: 22rem;
    height: 15rem;
  }

  main .cards-wrapper .col1 .card:nth-child(2)  {
    opacity: 1;
    position: relative;
  }
  
  main .cards-wrapper .col3 .card:nth-child(1)  {
    opacity: 1;
    position: relative;
  }

  main footer {
    opacity: 1;
    margin: 0;
    width: 59rem; 
    text-align: center;
    }

   main footer p {
    color: var(--dark-blue);
    font-family: var(--font-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
   }
   
   a {
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 700;
   }
}
